<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8407a1e-74c6-4370-ad84-afcd257d12ce" Alias="HomePage - Page Title - Textbox" Level="1">
  <Info>
    <Name>HomePage - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>