<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e407d451-1077-4175-8140-b9a5523a8598" Alias="HomePage - Body - Textbox" Level="1">
  <Info>
    <Name>HomePage - Body - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>