<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72c8797f-2bdd-4d4c-affb-6c6121c89ef3" Alias="HomePage - Foot Text - Textbox" Level="1">
  <Info>
    <Name>HomePage - Foot Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>