<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="024f2ae2-ac32-4008-b486-f55b8015e560" Alias="projectPage" Level="1">
  <Info>
    <Name>ProjectPage</Name>
    <Icon>icon-molecular-network color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This all about our project</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ProjectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ef47a947-b865-4ca2-b40f-04e48c0c7710">ProjectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4dddfed6-2365-4b4b-90e0-6a15e1fea04c" SortOrder="0">projectContent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>baa6d406-236e-4cb7-b159-1f137b3b02e1</Key>
      <Name>Body Text Project</Name>
      <Alias>bodyTextProject</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea4cc7f0-9cf2-43df-b67a-f6cc707af88b</Key>
      <Name>Foot Text Project</Name>
      <Alias>footTextProject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerText">Footer Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3b9a0b1-e9d4-4b1c-9cd1-f8fd3c3f39a6</Key>
      <Name>Page Title Project</Name>
      <Alias>pageTitleProject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3a555227-ad6e-47f3-bbde-caa201916ea1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f2892cb2-1de2-4000-83c0-b1c83825b4aa</Key>
      <Caption>Footer Text</Caption>
      <Alias>footerText</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>