<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42ba3c47-d964-4730-93b3-379f8af5b7d4" Alias="services" Level="1">
  <Info>
    <Name>Services</Name>
    <Icon>icon-server-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>We ProvideThe Solutions To Grow Your Business Faster</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff9d444b-f312-4ad2-9636-c22804ba2b33">Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6388eb44-7696-45f1-8451-457063dfa8e5" SortOrder="0">serviceContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6ea03c4a-b366-414c-bd21-2f2f8c23e907</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerSection">Footer Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>978f1698-d470-436d-ba1c-d641a0b45c54</Key>
      <Name>Service Body Text</Name>
      <Alias>serviceBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesTitilePage">Services Titile Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>516b369c-9c64-41b0-8725-cc1281f8ca19</Key>
      <Name>service Title page</Name>
      <Alias>serviceTitlePage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesTitilePage">Services Titile Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5736d871-5247-463d-a009-9ff8d3eab862</Key>
      <Caption>Services Titile Page</Caption>
      <Alias>servicesTitilePage</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b51dd7ef-0bd1-42d6-9c31-deb7b0310071</Key>
      <Caption>Footer Section</Caption>
      <Alias>footerSection</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>