<?xml version="1.0" encoding="utf-8"?>
<Content Key="702a984f-a4f3-45ad-8d36-e4bbe14519c9" Alias="About" Level="2">
  <Info>
    <Parent Key="b4f8008a-9154-4942-b98c-c519d904544b">Welcome</Parent>
    <Path>/Welcome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-10-02T03:31:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2aef422e-9d58-4a5d-a5c2-9bbca790ca19">AboutUs</Template>
  </Info>
  <Properties>
    <bodyInfo>
      <Value><![CDATA[]]></Value>
    </bodyInfo>
    <footertext>
      <Value><![CDATA[Copyright DetimTech @ 2024]]></Value>
    </footertext>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
  </Properties>
</Content>