<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e3587fc-5e37-495e-b992-843445346262" Alias="Annual Report for Juva Inc." Level="2">
  <Info>
    <Parent Key="49605340-d760-4922-99b9-553b58251691">Our Project</Parent>
    <Path>/OurProject/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectContent</ContentType>
    <CreateDate>2024-10-02T04:00:06</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="725c353c-4655-491e-9e71-f9949b2fcf5a">projectContent</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
  </Properties>
</Content>