<?xml version="1.0" encoding="utf-8"?>
<Content Key="2066924b-2e0e-458f-bdc0-eec8df1c0f06" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b4f8008a-9154-4942-b98c-c519d904544b">Welcome</Parent>
    <Path>/Welcome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-02T03:35:12</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b1cdc0fa-24d8-4ac5-b243-711caf46bcd5">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
  </Properties>
</Content>