<?xml version="1.0" encoding="utf-8"?>
<Content Key="234e77c6-f8eb-49bf-a62b-3b8c464d316e" Alias="ContactUs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-01T15:24:01</CreateDate>
    <NodeName Default="ContactUs" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b1cdc0fa-24d8-4ac5-b243-711caf46bcd5">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Ch2 class=\u0022img-text\u0022\u003ELet us know about\u003Cbr\u003Eyour next project\u003C/h2\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
  </Properties>
</Content>