<?xml version="1.0" encoding="utf-8"?>
<Content Key="49605340-d760-4922-99b9-553b58251691" Alias="Our Project" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProject</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-10-01T13:59:19</CreateDate>
    <NodeName Default="Our Project" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef47a947-b865-4ca2-b40f-04e48c0c7710">ProjectPage</Template>
  </Info>
  <Properties>
    <bodyTextProject>
      <Value><![CDATA[{
  "markup": "\u003Ch2\u003EAnnual Report for Juva Inc.\u003C/h2\u003E\n\u003Cp class=\u0022date456\u0022\u003E\uD83D\uDCC5\u0026nbsp;June 15, 2024\u003C/p\u003E\n\u003Cp\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyTextProject>
    <footTextProject>
      <Value><![CDATA[Copyright DetimTech @ 2024]]></Value>
    </footTextProject>
    <pageTitleProject>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitleProject>
  </Properties>
</Content>