<?xml version="1.0" encoding="utf-8"?>
<Content Key="de116baa-0d49-4862-9d02-ef9e08404622" Alias="Project" Level="2">
  <Info>
    <Parent Key="b4f8008a-9154-4942-b98c-c519d904544b">Welcome</Parent>
    <Path>/Welcome/Project</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-10-02T03:34:29</CreateDate>
    <NodeName Default="Project" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef47a947-b865-4ca2-b40f-04e48c0c7710">ProjectPage</Template>
  </Info>
  <Properties>
    <bodyTextProject>
      <Value><![CDATA[]]></Value>
    </bodyTextProject>
    <footTextProject>
      <Value><![CDATA[Copyright DetimTech @ 2024]]></Value>
    </footTextProject>
    <pageTitleProject>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitleProject>
  </Properties>
</Content>