<?xml version="1.0" encoding="utf-8"?>
<Content Key="c672798b-0ba4-4679-b3b1-2ddef7f1b1f9" Alias="Risk Managment" Level="2">
  <Info>
    <Parent Key="a50520c8-f6b5-4f05-a5a6-4f336395c5a8">Service page</Parent>
    <Path>/ServicePage/RiskManagment</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceContentPage</ContentType>
    <CreateDate>2024-10-02T03:49:17</CreateDate>
    <NodeName Default="Risk Managment" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6db9a110-928a-4db4-85af-2c3dc394a139">ServiceContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
  </Properties>
</Content>