<?xml version="1.0" encoding="utf-8"?>
<Content Key="a50520c8-f6b5-4f05-a5a6-4f336395c5a8" Alias="Service page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicePage</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-10-01T14:11:49</CreateDate>
    <NodeName Default="Service page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff9d444b-f312-4ad2-9636-c22804ba2b33">Services</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[Copyright DetimTech @ 2024]]></Value>
    </footerText>
    <serviceBodyText>
      <Value><![CDATA[{
  "markup": "\u003Ch1 class=\u0022services-h1 body-about-below\u0022\u003EWe ProvideThe Solutions\u003C/h1\u003E\n\u003Ch1 class=\u0022services-h1 body-about-below\u0022\u003ETo Grow Your Business Faster\u003C/h1\u003E\n\u003Cp\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceBodyText>
    <serviceTitlePage>
      <Value><![CDATA[We ProvideThe Solutions To Grow Your Business Faster]]></Value>
    </serviceTitlePage>
  </Properties>
</Content>