<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4f8008a-9154-4942-b98c-c519d904544b" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-30T13:14:42</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eee9917d-275f-4361-ac7f-6b29077b5030">HomePage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EWelcome to Umbraco\u003C/p\u003E\n\u003Cp\u003EWelcome to UmbracoWelcome to Umbraco\u003C/p\u003E\n\u003Col\u003E\n\u003Cli\u003EWelcome to Umbraco\u003C/li\u003E\n\u003Cli\u003EWelcome to Umbraco\u003C/li\u003E\n\u003Cli\u003EWelcome to Umbraco\u003C/li\u003E\n\u003Cli\u003EWelcome to Umbraco\u003C/li\u003E\n\u003C/ol\u003E\n\u003Cp\u003EWelcome to UmbracoWelcome to UmbracoWelcome to UmbracoWelcome to UmbracoWelcome to UmbracoWelcome to Umbraco\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </body>
    <footerText>
      <Value><![CDATA[Copyright DetimTech @ 2024]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Welcome to Umbraco]]></Value>
    </pageTitle>
  </Properties>
</Content>