<?xml version="1.0" encoding="utf-8"?>
<Content Key="bff4fd92-57b9-4496-88fa-0564433909ff" Alias="what we do" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/whatWeDo</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-10-01T10:56:51</CreateDate>
    <NodeName Default="what we do" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2aef422e-9d58-4a5d-a5c2-9bbca790ca19">AboutUs</Template>
  </Info>
  <Properties>
    <bodyInfo>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do\u003Cbr\u003Eeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim\u003Cbr\u003Ead minim\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyInfo>
    <footertext>
      <Value><![CDATA[Copyright DetimTech @ 2024]]></Value>
    </footertext>
    <pageTitle>
      <Value><![CDATA[Here you favourite client]]></Value>
    </pageTitle>
  </Properties>
</Content>